<md-dialog>
    <form ng-cloak>
         
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Create</h2>
            </div>
        </md-toolbar>
 
        <md-dialog-content>
            <div class="md-dialog-content">
 
                <!-- we are using ng-model to bind this view and the 'product model -->
                <md-input-container class="md-block">
                    <label>Your Name</label>
                    <input ng-model="name">
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Your Favorites Movies (separated by coma)</label>
                    <input ng-model="movies">
                </md-input-container>
 
            </div>
        </md-dialog-content>
 
        <md-dialog-actions layout="row">
            <md-button ng-click="cancel()">Cancel</md-button>
            <md-button ng-click="create()" class="md-primary">Create</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>